.member__card {
  padding: 30px 32px;
  text-align: center;
  font-size: $fs16;
}

.member__name {
  font-weight: $fw500;
  line-height: 1.36;
  text-transform: none;
  margin-bottom: 10px;
  color: var(--second-color-text);
}

.member__position {
  line-height: 1.18;
  margin-bottom: 0;
  margin-bottom: 16px;
}
