.menu {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__link {
  color: var(--second-color-text);
  transition: color 250ms var(--time-function);
}
