.contacts {
  font-weight: $fw500;
  line-height: $lh1-14;
  letter-spacing: 0.02em;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-color-text);
  transition: color 250ms var(--time-function);

  &:hover > .contacts__icon,
  &:focus > .contacts__icon {
    fill: var(--accent-color-text);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--main-color-text);
  transition: fill 250ms var(--time-function);
}
