.page-footer {
  background-color: var(--dark-bgc);
  color: #fff;
  padding: 60px 0;
}

.page-footer__conteiner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.page-footer__logo {
  color: var(--bg-color-text);
  display: flex;
  margin-bottom: 20px;
}

.page-footer__social-list {
  width: 206px;
}
